body {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr auto;
}

header {
  /*---------------------------
    right section (links)
  ---------------------------*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12%;
  padding-top: 1.4rem;

  & .sign-in {
    margin-inline: 1.2rem;
  }

  & .sign-in,
  .register {
    border: 1px solid var(--font);
    padding: 0.5rem 1.1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 400;
  }

  & .sign-in:hover,
  .register:hover {
    background-color: var(--font);
    color: var(--blue);
    & .fa-solid {
      color: var(--icons);
    }
  }

  & .cart {
    background-color: var(--font);
    color: var(--blue);
    font-size: 1rem;
    padding: 0.5rem 1.1rem 0.5rem 0.8rem;
    border-radius: 25px;
    position: relative;
  }

  & .cart a {
    position: relative;
  }

  & .cart .fa-solid {
    color: var(--blue);
  }

  & .cart .products-number {
    position: absolute;
    background-color: rgb(27, 27, 185);
    height: 20px;
    width: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 0;
    top: -5px;
    font-size: 0.9rem;
    font-weight: bold;
  }

  & .links .fa-solid {
    margin-right: 0.3rem;
  }

  & a {
    all: unset;
    display: inline-block;
    transition: 0.4s;
  }

  & a:active {
    scale: 0.9;
  }

  /*---------------------------
    left section (logo)
  ---------------------------*/

  & .fa-bag-shopping {
    font-size: 2rem;
  }

  & .logo span {
    font-weight: bold;
  }

  & .logo p {
    letter-spacing: 0.5px;
    margin-top: 0;
    font-size: 1.3rem;
  }
}

footer {
  background-color: var(--icons);
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-block: 1.2rem;
  margin-top: 2.5rem;
  color: white;
  font-size: 20px;

  & span {
    color: #ff7790;
    text-transform: capitalize;
  }
}

header {
  background-color: var(--footer-bg);
  color: var(--white);
  padding-block: 0.6rem;

  & .fa-solid {
    color: var(--white);
  }

  & .logo .fa-solid {
    font-size: 1.5rem;
  }

  & .sign-in:hover,
  & .register:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem;
  }

  & .cart:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem 0.5rem 0.7rem;
  }

  & .logo:hover {
    scale: 0.95;
  }
}

main {
    text-align: center;
}

section.cart article {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-top: 2px solid var(--blue-button);
  margin-top: 1.8rem;
  justify-content: space-between;
  max-width: 450px;
  margin-inline: auto;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

  & .fa-trash-can {
    color: var(--red-button);
    margin-left: 1rem;
  }

  & div {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  & button.decrease {
    color: var(--blue-button);
    font-size: 1.9rem;
  }

  & .quantity {
    background-color: var(--blue-button);
    color: var(--white);
    font-size: 0.8rem;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    justify-content: center;
    margin-inline: 0.4rem;
  }

  & button.increase {
    color: var(--blue-button);
    font-size: 1.4rem;
  }

  & img {
    border-radius: 0.2rem;
    width: 70px;
    height: 70px;
  }
}

button.clear {
  background-color: var(--red-button);
  color: var(--white);
  margin-top: 1rem;
  margin-right: 0.2rem;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 0.8rem;
}

section.summary {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  width: 233px;
  margin-inline: auto;
  margin-top: 2.5rem;
  border-radius: 4px;

  & h1 {
    font-size: 1.2rem;
    padding-block: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
    margin-block: 0.6rem;
    
  }

  & button.checkout {
    width: 100%;
    background-color: var(--blue-button);
    color: var(--white);
    padding-block: 0.6rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  & a {
    padding-block: 0.5rem;
    color: var(--red-button);
    font-size: 0.9rem;
  }
}