body {
  background: url(/background.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr auto;
}

header {
  /*---------------------------
    right section (links)
  ---------------------------*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12%;
  padding-top: 1.4rem;

  & .sign-in {
    margin-inline: 1.2rem;
  }

  & .sign-in,
  .register {
    border: 1px solid var(--font);
    padding: 0.5rem 1.1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 400;
  }

  & .sign-in:hover,
  .register:hover {
    background-color: var(--font);
    color: var(--blue);
    & .fa-solid {
      color: var(--icons);
    }
  }

  & .cart {
    background-color: var(--font);
    color: var(--blue);
    font-size: 1rem;
    padding: 0.5rem 1.1rem 0.5rem 0.8rem;
    border-radius: 25px;
    position: relative;
  }

  & .cart .fa-solid {
    color: var(--blue);
  }

  & .cart .products-number {
    position: absolute;
    background-color: rgb(27, 27, 185);
    height: 20px;
    width: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 0;
    top: -5px;
    font-size: 0.9rem;
    font-weight: bold;
  }

  & .links .fa-solid {
    margin-right: 0.3rem;
  }

  & a {
    all: unset;
    display: inline-block;
    transition: 0.4s;
  }

  & a:active {
    scale: 0.9;
  }

  /*---------------------------
    left section (logo)
  ---------------------------*/

  & .fa-bag-shopping {
    font-size: 2rem;
  }

  & .logo span {
    font-weight: bold;
  }

  & .logo p {
    letter-spacing: 0.5px;
    margin-top: 0;
    font-size: 1.3rem;
  }
}

header {
  display: flex;
  background-color: var(--footer-bg);
  color: var(--white);
  padding-block: 0.6rem;

  & .fa-solid {
    color: var(--white);
  }

  & .logo .fa-solid {
    font-size: 1.5rem;
  }

  & .sign-in:hover,
  & .register:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem;
  }

  & .cart:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem 0.5rem 0.7rem;
  }

  & .logo:hover {
    scale: 0.95;
  }
}

main {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 0.4rem;
  background-color: var(--white);
  margin-top: 1.3rem;

  & img {
    width: 40%;
    border-radius: 0.4rem;
  }

  & .price {
    font-size: 1.22rem;
    font-weight: bold;
    color: var(--red-button);
  }

  & .product-details {
    margin-inline: 1.1rem;
  }

  & .product-details div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .description {
    text-align: left;
    margin-block: 1.2rem;
    line-height: 1.44rem;
    text-wrap: balance;
  }

  & .add-to-cart {
    background-color: var(--blue-button);
    color: var(--white);
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 0.9rem;
    gap: 0.33rem;
    transition: all 0.4s;
  }

  & .add-to-cart:hover {
    scale: 0.9;
  }

  & .fa-cart-plus {
    color: var(--white);
  }
}

footer {
  background-color: var(--icons);
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-block: 1.2rem;
  margin-top: 2.5rem;
  color: white;
  font-size: 20px;

  & span {
    color: #ff7790;
    text-transform: capitalize;
  }
}

@media (width < 600px) {
  header {
    justify-content: center;
    padding-inline: 0;

    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

    .logo {
      display: none;
    }
  }
}

@media (width < 800px) {
  main.flex {
    flex-wrap: wrap;

    & img {
      margin-inline: auto;
      width: 250px;
    }

    .product-details {
      margin-top: 2.5rem;
      margin-bottom: 1.3rem;
    }
  }
}